{% extends 'main.html' %}
{% block content %}
<div class = 'row'>
    <div class = 'col-md'>
        <div class = 'card card-body'>
            <h5>Place New Order</h5>
            <hr>
            <form action = "", method = 'post'>
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                {{form}}
                <hr>
                {% endfor %}
                <button class  = 'btn btn-outline-info' type = 'submit'>Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}